body{
    font-family: 'Inter', sans-serif;
    font-size: 16px; 
}
a {
    text-decoration: none; 
    color: black;
}

a:hover{
    color: black;
}

li {
    margin: auto 10px;
}

.two_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding-right: 10px;
}

#toggle_btn {
    position: fixed;
    top: 10px;
    right: 5px;
    border: none;
}

.sec-1{
    background-image: url("/hero_bg.svg");
    background-size: cover;
    min-height: 690px;
}

.sec-1 .col1 {
    margin: auto 0;
}

.col2 {
    margin: 20px auto;
}
.round_img{
    border-radius: 50%;
    background-image: url("/hero_img_bg.png");
    background-position: center;
    background-size: cover;
}

.round_img img {
    width: 100%;
}

nav {
    height: 80px;
}
h1 {
    font-size: 5vw;
    font-weight: 700;
}

/* Nav Buttons */
button{
    border: 0 !important;
    box-shadow: none;
}
button:focus{
    box-shadow: none !important;
    
}
.start_btn2 {
    margin-left: 15px;
    padding: 10px 15px;
    background-color: #52C8C4;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    position: relative; 
}
#startBtn {
    position: inherit;
    color: #fff;
}
.start_btn2_cg{
    width: 0px;
    height: -webkit-fill-available;
    border-radius: 5px;
    transition: all 1.5s;
    position: absolute;
    top: 0;
    left: 0;
}

.start_btn2:hover .start_btn2_cg{
    width: 100%;
    background-color: #278E8B;
}

#ws-logo{
    height: 45px;
}

#navList li a{
    
}
#navList li a:hover{
    color: #5B93FB;
}
@media (max-width: 576px){
    a{
        font-size: 14px;
    }

    .start_btn2{
        padding: 7px 15px;
    }

    #nav{
        padding: 0;
    }

    #ws-logo{
        height: 32px;
        margin-left: 12px;
    }

    #navTitle, #navbtngp, #navtoggle{
        margin-bottom: 20px;
    }

    #nbar{
        padding: 8px 0;
        border-top: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
    }
    li {
        margin: 0;
        padding: 8px 20px;
    }

    #navContainer{
        margin-top: 20px;
        padding: 0;
    }
}